@model IPageViewModel<SitePageData>
        <div class="row" style="position:fixed; bottom:0;">
            <div class="col-md-12">
                @Html.PropertyFor(x => x.Layout.CustomerZonePages)
                        @if(Model.Layout.LoggedIn)
                        {
                            @Html.ActionLink(Html.Translate("/footer/logout"), "Logout", new { language = @Model.CurrentPage.Language.Name })
                        }
                        else
                        {
                            if (!Model.Layout.IsInReadonlyMode)
                            {
                            <a href="@Model.Layout.LoginUrl" title="@Html.Translate("/footer/login")">@Html.Translate("/footer/login")</a>
                            }
                        }
            </div>
        </div>
