@using EPiServer.Editor
@using EPiServer.Core
@using EPiServer.Web
@model IPageViewModel<SitePageData>

<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            @Html.ContentLink(SiteDefinition.Current.StartPage, null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    @Html.MenuList(SiteDefinition.Current.StartPage,
                                                                @<li class="@(item.Selected ? "active" : null)">
                                                                    @Html.PageLink(item.Page, null, new { @class = "nav-link " + string.Join(" ", item.Page.GetThemeCssClassNames()) })
                                                                </li>)
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <div>

                            @if (Model.Layout.LoggedIn)
                            {
                                @Html.ActionLink(Html.Translate("/footer/logout"), "Logout", new { language = @Model.CurrentPage.Language.Name })
                            }
                            else
                            {
                                if (!Model.Layout.IsInReadonlyMode)
                                {
                                    <a href="@Model.Layout.LoginUrl" title="@Html.Translate("/footer/login")">@Html.Translate("/footer/login")</a>
                                }
                            }
                        </div>
                    </li>
                    <li>
                        <div class="navbar-search">
                            @{
                                using (Html.BeginForm(null, null, PageEditing.PageIsInEditMode ? FormMethod.Post : FormMethod.Get, new { @action = Model.Layout.SearchActionUrl }))
                                {
                                    <input type="search" class="search-query" name="q" id="SearchKeywords" placeholder="@Html.Translate("/mainnavigation/search")" />
                                }
                            }
                        </div>

                    </li>

                </ul>

            </div>
        </nav>
    </div>
</div>
