@using EPiServer.Editor
@using EPiServer.Core
@using EPiServer.Web
@model IPageViewModel<SitePageData>

<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            @Html.ContentLink(SiteDefinition.Current.StartPage, null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    @Html.MenuList(SiteDefinition.Current.StartPage,
                                                                @<li class="@(item.Selected ? "active" : null)">
                                                                    @Html.PageLink(item.Page, null, new { @class = "nav-link " + string.Join(" ", item.Page.GetThemeCssClassNames()) })
                                                                </li>)
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <div class="navbar-search">
                            @{
                                using (Html.BeginForm(null, null, PageEditing.PageIsInEditMode ? FormMethod.Post : FormMethod.Get, new { @action = Model.Layout.SearchActionUrl }))
                                {
                                    <input type="search" class="search-query" name="q" id="SearchKeywords" placeholder="Sök" />
                                }
                            }
                        </div>
                    </li>
                    <li>
                        @if (Model.Layout.LoggedIn)
                        {

                            <a class="nav-link" href="@Model.Layout.LogOutUrl">
                                <span class="oi oi-account-logout" title="icon name" aria-hidden="true"></span>
                            </a>
                        }
                        else
                        {
                            if (!Model.Layout.IsInReadonlyMode)
                            {
                                <a class="nav-link" href="@Model.Layout.LoginUrl">
                                    <span class="oi oi-account-login" title="icon name" aria-hidden="true"></span>
                                </a>
                            }
                        }
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</div>
